# NPC

Dans un premier temps, on ramène la table INTERRACTION dans une dataframe pandas

In [1]:
!pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-1.4.35-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 11.0 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp310-cp310-win_amd64.whl (101 kB)
     ---------------------------------------- 102.0/102.0 KB ? eta 0:00:00
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-1.4.35 greenlet-1.1.2

In [3]:
import mysql.connector
import pandas as pd
import sqlalchemy

engine = sqlalchemy.create_engine('mysql://ds50:AVNS_4ybSd0CoPKnCL5F@ds50-mysql-do-user-9644544-0.b.db.ondigitalocean.com:25060/ds50')

df_interraction = pd.read_sql('SELECT * FROM REVIEW',engine)
df_interraction.head(15)

,review_id,user_id,book_id,rating,review_text,date_added,started_at,n_votes,n_comments
0,0000070d5b02a290c631438f4f618c48,644915,2318271,5,"Meski sudah banyak orang tahu buku ini, namun ...",2010-05-13 13:04:33,None,0,0
1,00000dd80b43a2cf2afee588cfdd72e2,141599,28954189,5,Death can be cured and aging reversed. The nee...,2017-02-16 19:00:04,2017-03-24 07:00:00,0,0
2,00001391db9e5a03e3f13da55399d427,157659,16043719,2,The Marriage Mistake focuses on Count's younge...,2012-11-30 03:45:25,2012-12-18 08:00:00,0,0
3,00001da050362c5a7eaf6a0614385a29,184748,15507958,5,When I saw the trailer for the movie version o...,2016-08-17 13:31:06,2016-07-27 07:00:00,0,0
4,00002061af3a9f981f601d7f223a6b35,154981,12578313,4,I didn't expect to enjoy this as much as I did...,2013-12-02 21:27:56,None,0,0
5,0000271000ca3f0ed54ec992fa502672,57501,13418329,5,In 1999 a friend of mine suggested I read this...,2013-09-07 19:49:37,2017-05-03 07:00:00,0,0
6,00002956a602b00f44b4d2e42eec50b8,105694,15283043,5,This is one of the very few books that I loved...,2013-07-13 15:49:37,None,0,0
7,00002e84abd11229f94cad76a601f288,395328,4588,5,Made me cry on the subway- but in a really goo...,2007-12-27 00:57:37,None,0,0
8,000039a2fc73f37e615c4acc4498116a,218600,12444166,5,What an awesome read. So kicking myself for pu...,2012-03-29 23:07:35,2013-03-26 07:00:00,1,0
9,00004fead2419af82ee3c84b533dea27,256390,2743,5,I read this many years ago and I still talk ab...,2010-07-27 03:28:05,None,0,0
10,000062f0c7b8c3c3ca0c5c280afa3b48,236470,13638125,4,'Vicious' is a super-powers/urban fantasy with...,2016-06-16 17:01:38,2016-06-18 07:00:00,1,0
11,000066331a7ce43ee855031c2862b3f2,605496,25852784,5,This is the story of several families in Milwa...,2016-12-24 12:42:03,None,0,0
12,00006e00801b3002e91b3efd65f64bb0,403885,10429045,3,"4 stars for story, 2 stars for overly gushy wr...",2012-06-10 03:24:11,2012-06-09 07:00:00,0,0
13,00008156f2be9771f2d022fe40bd0611,72552,7260188,3,"If you've read the first two, it's about exact...",2011-03-14 01:19:38,None,0,0
14,00008381136d988ee17a80d9f3c978f7,589429,27405701,5,Awesome read! Loved the characters and seeing ...,2016-07-20 22:31:38,None,0,0

On enleve les commentaire non constructif

In [16]:
df_interraction[df_interraction['review_text'].str.len() > 4]

,review_id,user_id,book_id,rating,review_text,date_added,started_at,n_votes,n_comments
0,0000070d5b02a290c631438f4f618c48,644915,2318271,5,"Meski sudah banyak orang tahu buku ini, namun ...",2010-05-13 13:04:33,None,0,0
1,00000dd80b43a2cf2afee588cfdd72e2,141599,28954189,5,Death can be cured and aging reversed. The nee...,2017-02-16 19:00:04,2017-03-24 07:00:00,0,0
2,00001391db9e5a03e3f13da55399d427,157659,16043719,2,The Marriage Mistake focuses on Count's younge...,2012-11-30 03:45:25,2012-12-18 08:00:00,0,0
3,00001da050362c5a7eaf6a0614385a29,184748,15507958,5,When I saw the trailer for the movie version o...,2016-08-17 13:31:06,2016-07-27 07:00:00,0,0
4,00002061af3a9f981f601d7f223a6b35,154981,12578313,4,I didn't expect to enjoy this as much as I did...,2013-12-02 21:27:56,None,0,0
...,...,...,...,...,...,...,...,...,...
2260466,ffffcb13646c6cd81e44956e1ba60684,37450,17881278,4,This was probably my favorite of the 5 book se...,2013-06-09 01:27:57,None,0,0
2260467,ffffd342cc2d914969e33a0d103ac4d5,348228,5941033,4,Slow to start but then you get sucked in. Exce...,2012-01-17 08:51:29,2012-01-17 08:00:00,0,0
2260468,ffffd7ba7896f8f2c35cf3fecd35017b,66452,28187,5,This book is one of my most well-worn. This bo...,2015-06-22 21:18:40,2016-05-30 00:29:49,0,0
2260469,ffffe49ee4325d9091f97d16d81cc82b,314234,16181775,3,I enjoy books with characters that are differe...,2016-06-11 03:56:41,2016-06-08 07:00:00,0,0
2260470,ffffe6aedbb05301f86852d5636914a5,35927,20560137,5,"*Warning: Minor Spoilers* \n ONE WORD: YES, th...",2015-08-09 08:47:44,None,2,0

Utilisation de Deep-translator pour traduire en anglais tout les commentaires

In [17]:
!pip install deep-translator

Collecting deep-translator
  Downloading deep_translator-1.8.3-py3-none-any.whl (29 kB)
Collecting beautifulsoup4<5.0.0,>=4.9.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     -------------------------------------- 128.2/128.2 KB 7.4 MB/s eta 0:00:00
Collecting requests<3.0.0,>=2.23.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     ---------------------------------------- 63.1/63.1 KB 3.5 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Collecting idna<4,>=2.5
  Downloading idna-3.3-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.2/61.2 KB 3.2 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2021.10.8-py2.py3-none-any.whl (149 kB)
     -------------------------------------- 149.2/149.2 KB 8.7 MB/s eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
     -------------------------------------- 139.0/139.0 KB 8.0 MB/s eta 0:00:00
Installing collected packages: certifi, urllib3, soupsieve, idna, charset-normalizer, requests, beautifulsoup4, deep-translator
Successfully installed beautifulsoup4-4.11.1 certifi-2021.10.8 charset-normalizer-2.0.12 deep-translator-1.8.3 idna-3.3 requests-2.27.1 soupsieve-2.3.2.post1 urllib3-1.26.9

In [23]:
from deep_translator import GoogleTranslator

for label,content in df_interraction.items():
    print(label)
    print(content)
    break
#translated = GoogleTranslator(source='auto', target='de').translate("keep it up, you are awesome")

review_id
0          0000070d5b02a290c631438f4f618c48
1          00000dd80b43a2cf2afee588cfdd72e2
2          00001391db9e5a03e3f13da55399d427
3          00001da050362c5a7eaf6a0614385a29
4          00002061af3a9f981f601d7f223a6b35
                         ...
2260466    ffffcb13646c6cd81e44956e1ba60684
2260467    ffffd342cc2d914969e33a0d103ac4d5
2260468    ffffd7ba7896f8f2c35cf3fecd35017b
2260469    ffffe49ee4325d9091f97d16d81cc82b
2260470    ffffe6aedbb05301f86852d5636914a5
Name: review_id, Length: 2260471, dtype: object